body {
  font-family: 'Inconsolata', monospace;
  background-color: rgb(0, 0, 0);
}
h1 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}
.centerAlign {
  text-align: center;
}

li {
  list-style-type: lower-roman;
  font-size: 20px;
}
.container {
  background-color: white;
  padding: 20px;
  padding-bottom: 500px;
}
.btn {
  background-color: rgb(202, 1, 1);
  border: none;
}
.btn:hover {
  background-color: rgb(136, 2, 2);
  border: none;
}
a {
  color: rgb(255, 6, 6);
}
a:hover {
  color: rgb(199, 2, 2);
  font-weight: 800;
  text-decoration: none;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://d1e00ek4ebabms.cloudfront.net/production/8669b7f0-b3bb-4c07-ad74-88af722d110b.jpg");
  /* height: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:rgb(255, 255, 255);
  background:  rgb(114, 1, 1);
  padding:10px;
  height: 60px;
}

ul#footerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 12%;
  overflow: hidden;
  background-color: rgb(114, 1, 1);
}

li#footerUl {
  float: right;
  list-style: none;
}

li#footerUl a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}