@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon Management App</h1>
<h3>Welcome back, Claire! Please select from the following options:</h3>
<p>@Html.ActionLink("View Your Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("View All Clients", "Index", "Clients")</p>

