@{
  Layout = "_Layout";
}
<div class="centerAlign">
<h1>~Eau Claire's Salon~<br> Management App</h1>
<hr>
<h3>Welcome back, Claire! Please select from the following options:</h3>
<div class="row">
  <div class="col-md-6">
    <h3>@Html.ActionLink("Manage Your Stylists", "Index", "Stylists")</h3>
  </div>
  <div class="col-md-6">
    <h3>@Html.ActionLink("Manage Your Clients", "Index", "Clients")</h3>
  </div>
</div>
<br>
<br>
<br>
@* <img src="~/css/img/hair2.png" width="40%"> *@
<div class="hero-image">
</div>
</div>



